/*#cntr-div{

  font: 15px arial, sans-serif;
  resize:none;

  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 300px;
    width: 600px;
    font-size: 25px;
    font: g

}*/


/*.user-input{

  font: 15px arial, sans-serif;
  resize:none;

  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 300px;
    width: 600px;
    font-size: 25px;
    font: g

}*/



*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 30px;
  background-color: #f0f0f0;
}

.container, .backdrop, textarea {
  width: 460px;
  height: 180px;
}

.highlights, textarea {
  padding: 10px;
  font: 20px/28px 'Open Sans', sans-serif;
  letter-spacing: 1px;
}

.container {
  display: block;
  margin: 0 auto;
  border-radius: 5;
  transform: translateZ(0);
  -webkit-text-size-adjust: none;
}

.backdrop {
  position: absolute;
  z-index: 1;
  width: 150%;
  height: 300%;
  -webkit-border-radius: 8px;
  -moz-border-radius:8px;
  border-radius: 8px;
  border: 2px solid #685972;
  background-color: #fff;
  text-align: justify;
  overflow: auto;
  pointer-events: none;
  border-radius: 5;
  margin-top: 8%;
  margin-left: -10%;


}

.highlights {
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
}

textarea {

  display: block;
  width: 150%;
  height: 300%;
  position: absolute;
  z-index: 2;
  border: 2px solid #74637f;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-overflow-style: none;
  border-radius: 8px;
  color: #444;
  text-align: justify;
  background-color: transparent;
  margin-top: 8%;
  margin-left: -10%;
  overflow: hidden;
  resize: none;


}


textarea:focus, button:focus {
  outline: none;

}

.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 20%;

  margin-top: 3%;
  margin-left: 5%;
  position: relative;
  overflow: auto;
}



.right {
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

#toggle {
    width: auto;
    height: auto;
    background: #ccc;
    display: none;
  }
